  <script type="text/javascript">
    function check()
    {
      if($("#name").val()=="" || $("#passwd").val()=="")
      {
         alert("用户名或密码不能为空!");
      }else
      {
          $("#loginForm").submit();
      }
   }
</script>
  <div class="container-fluid">
    <form class="form-horizontal" method="get" action="/welcome/login" id="loginForm">
      <fieldset>
        <legend>用户登陆</legend>
        <div class="control-group">
          <label class="control-label" for="username">用户名:</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="name" name="name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">密&nbsp;&nbsp;&nbsp;码:</label>
          <div class="controls">
            <input type="password" class="input-xlarge" id="passwd" name="passwd">
          </div>
        </div>
        <div class="form-actions">
          <button type="button" class="btn btn-primary" onclick="check()">登陆</button>
          &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary">退出</button>
        </div>      
      </fieldset>
    </form>
 </div>