<% unless cart.line_items.empty?%>
<div id="mod">Your Cart</div>
<table>
<%= render(cart.line_items) %>
<tr>
    <td>Total</td>
    <td><%= number_to_currency(cart.total_price)%></td>
</tr>
<tr>
   <td><%= button_to "Checkout", new_order_path, :method => :get%></td>
   <td><%= button_to 'Empty cart',cart, :method => :delete, :confirm => 'Are you sure?'%></td>
</tr>
</table>
<% end %>